table {
    border-collapse: collapse;
    border: 1px solid;
    margin: 0 auto;
}
tr, td {
    border: 1px solid coral;
    padding: 20px;
}
img {
    width: 50%; 
    align-items: center;
}
p {
    color: darkslateblue;
}
h1 {
    color: palevioletred;
}
h2 {
    color:darkslateblue
}
a {
    color:coral;
}
html {
    font-family: Arial;
    background-color: #f7fcfc;
    text-align: center;
    
}