/*SE SUELE LLAMAR style.css, proyecto.css o main.css */

/* -------------------------------------------- */
/*                 Reset de CSS                 */
/* -------------------------------------------- */


/* -------------------------------------------- */
/*             Componentes Generales            */
/* -------------------------------------------- */



/* -------------------------------------------- */
/*                Sección Home                  */
/* -------------------------------------------- */



/* -------------------------------------------- */
/*              Sección Contacto                */
/* -------------------------------------------- */



/* -------------------------------------------- */
/*                Sección Galería               */
/* -------------------------------------------- */
.userCard {
    border: 1px solid black;
    border-radius: 16px;
    padding: 16px;
    width: 200px;
}

.galeria-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

@media screen and (max-width: 500px){
    .userCard {
        width: 100%;
    }
}

/* -------------------------------------------- */
/*                Sección Scroll                */
/* -------------------------------------------- */
