* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos para Mobile */
.contenido {
    height: 100vh;
    background-color: pink;
    color: rgb(219, 28, 95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s;
}

.title--mobile {
    display: block;
}

.title--tablet, .title--desktop {
    display: none;
}

.imagen__img {
    height: 100px;

}

/* MediaQueries para Tablet */

@media (min-width: 768px) {

    .contenido {
        height: 100vh;
        background-color: rgb(192, 233, 255);
        color: rgb(15, 40, 148);
    }

    .title--mobile, .title--desktop {
        display: none;
    }

    .title--tablet {
        display: block;
    }
}

/* MediaQueries para Desktop */

@media (min-width: 1024px) {

    .contenido {
        height: 100vh;
        background-color: rgb(216, 255, 192);
        color: rgb(25, 95, 6);
    }

    .title--mobile, .title--tablet {
        display: none;
    }

    .title--desktop {
        display: block;
    }
}