/* ------------------------------ */
/*            Variables           */
/* ------------------------------ */

:root {
    --bg-primary: #fff;
    --bg-secondary: #f0f0f0;
    --txt-primary: #000;
    --txt-secondary: #222;

    --box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
}

/* ------------------------------ */
/*      Modo Claro / Oscuro       */
/* ------------------------------ */

.u-Dark {
    --bg-primary: #000;
    --bg-secondary: #222;
    --txt-primary: #fff;
    --txt-secondary: #ddd;

    --box-shadow: 1px 1px 5px rgb(255, 255, 255, 0.5);
}

/* --------------------------------------------------------------- */
/*      Clases Reutilizables (Utilities)       */
/* --------------------------------------------------------------- */

.u-bgPrimary {
    background-color: var(--bg-primary);
}

.u-bgSecondary {
    background-color: var(--bg-secondary);
}

.u-txtPrimary {
    color: var(--txt-primary);
}

.u-txtSecondary {
    color: var(--txt-secondary);
}

.u-boxShadow {
    box-shadow: var(--box-shadow);
}

.u-flexCol {
    display: flex;
    flex-direction: column;
}

.u-flexRow {
    display: flex;
    flex-direction: row;
}

/* ------------------------------ */
/*          Controllers           */
/* ------------------------------ */

.Controllers {
    position: fixed;
    bottom: 20px;
    right: 20px;

    display: flex;
    gap: 8px;
    padding: 16px;
}

.Btn {
    color: var(--txt-primary);
    background-color: var(--bg-primary);
    border: none;
    box-shadow: var(--box-shadow);

    cursor: pointer;
    padding: 16px;
    min-width: 100px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn--icon {
    min-width: unset;
    border-radius: 100%;
}
